body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  #app {
    background: white;
    padding: 12px;
  }
  
  #auth, #main, #note-form {
    margin-bottom: 20px;
  }

  .mn {
    display: flex;
  }

  .nv {
    height: 100%;
    width: 15%;
    margin-bottom: 20px;
    background-color: gray;
  }
  
  nav {
    display: flex;
    flex-direction: column;
  }
  
  input, textarea, button {
    margin: 5px 0;
    padding: 10px;
    box-sizing: border-box;
  }

  #note-form {
    flex-grow: 1;
  }
  
  .note {
    background: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
  }

  #note-relates{
    width: 15%;
  }
  
